.css_id_bloco_label { }
.css_id_bloco_line {text-align:left;}
.css_id_bloco_obj {text-align:left;}
.css_ds_bloco_label { }
.css_ds_bloco_line { }
.css_ds_bloco_obj { }
.css_ds_apelido_label { }
.css_ds_apelido_line { }
.css_ds_apelido_obj { }
.css_ds_obs_label { }
.css_ds_obs_line { }
.css_ds_obs_obj { }
.css_qt_andar_label { }
.css_qt_andar_line {text-align:left;}
.css_qt_andar_obj {text-align:left;}
.css_id_ativo_label { }
.css_id_ativo_line {text-align:left;}
.css_id_ativo_obj {text-align:left;}
.css_dt_cadastro_label { }
.css_dt_cadastro_line { }
.css_dt_cadastro_obj { }
.css_dt_atualiza_label { }
.css_dt_atualiza_line { }
.css_dt_atualiza_obj { }
.css_usu_cadastro_label { }
.css_usu_cadastro_line { }
.css_usu_cadastro_obj { }
.css_usu_atualiza_label { }
.css_usu_atualiza_line { }
.css_usu_atualiza_obj { }
