.css_id_pais_label { }
.css_id_pais_line {text-align:left;}
.css_id_pais_obj {text-align:left;}
.css_pais_nm_pais_ter_ptb_label { }
.css_pais_nm_pais_ter_ptb_line { }
.css_pais_nm_pais_ter_ptb_obj { }
.css_pais_nm_pais_ter_ptb2_label { }
.css_pais_nm_pais_ter_ptb2_line { }
.css_pais_nm_pais_ter_ptb2_obj { }
.css_pais_sigla_label { }
.css_pais_sigla_line { }
.css_pais_sigla_obj { }
.css_pais_iso_alpha3_cod_label { }
.css_pais_iso_alpha3_cod_line { }
.css_pais_iso_alpha3_cod_obj { }
.css_pais_ibge_cod_label { }
.css_pais_ibge_cod_line { }
.css_pais_ibge_cod_obj { }
.css_pais_capital_label { }
.css_pais_capital_line { }
.css_pais_capital_obj { }
.css_pais_moeda_label { }
.css_pais_moeda_line { }
.css_pais_moeda_obj { }
.css_id_moeda_label { }
.css_id_moeda_line {text-align:left;}
.css_id_moeda_obj {text-align:left;}
.css_pais_idioma_label { }
.css_pais_idioma_line { }
.css_pais_idioma_obj { }
.css_pais_dominio_label { }
.css_pais_dominio_line { }
.css_pais_dominio_obj { }
.css_pais_obs_label { }
.css_pais_obs_line { }
.css_pais_obs_obj { }
.css_dt_cadastro_label { }
.css_dt_cadastro_line { }
.css_dt_cadastro_obj { }
.css_usu_cadastro_label { }
.css_usu_cadastro_line { }
.css_usu_cadastro_obj { }
.css_dt_atualiza_label { }
.css_dt_atualiza_line { }
.css_dt_atualiza_obj { }
.css_usu_atualiza_label { }
.css_usu_atualiza_line { }
.css_usu_atualiza_obj { }
.css_id_ativo_label { }
.css_id_ativo_line {text-align:left;}
.css_id_ativo_obj {text-align:left;}
.css_id_merge_label { }
.css_id_merge_line { }
.css_id_merge_obj { }
