.css_id_pais_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_pais_grid_line {vertical-align: top;text-align: right;}
.css_pais_ibge_cod_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_pais_ibge_cod_grid_line {vertical-align: top;text-align: left;}
.css_pais_nm_pais_ter_ptb_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_pais_nm_pais_ter_ptb_grid_line {vertical-align: top;text-align: left;}
.css_pais_iso_alpha3_cod_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_pais_iso_alpha3_cod_grid_line {vertical-align: top;text-align: left;}
.css_dt_cadastro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dt_cadastro_grid_line {vertical-align: top;text-align: center;}
.css_usu_cadastro_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_usu_cadastro_grid_line {vertical-align: top;text-align: left;}
