.css_id_bloco_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_bloco_grid_line {vertical-align: top;text-align: right;}
.css_ds_bloco_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ds_bloco_grid_line {vertical-align: top;text-align: right;}
.css_ds_apelido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ds_apelido_grid_line {vertical-align: top;text-align: right;}
.css_ds_obs_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ds_obs_grid_line {vertical-align: top;text-align: right;}
.css_qt_andar_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_qt_andar_grid_line {vertical-align: top;text-align: right;}
.css_id_ativo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_ativo_grid_line {vertical-align: top;text-align: right;}
.css_dt_cadastro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dt_cadastro_grid_line {vertical-align: top;text-align: center;}
.css_dt_atualiza_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dt_atualiza_grid_line {vertical-align: top;text-align: center;}
.css_usu_cadastro_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_usu_cadastro_grid_line {vertical-align: top;text-align: right;}
.css_usu_atualiza_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_usu_atualiza_grid_line {vertical-align: top;text-align: right;}
