.css_id_bloco_det_label {text-align: left;vertical-align: middle;}
.css_id_bloco_det_line {height:0px;text-align: left;}
.css_ds_bloco_det_label {text-align: left;vertical-align: middle;}
.css_ds_bloco_det_line {height:0px;text-align: left;}
.css_ds_apelido_det_label {text-align: left;vertical-align: middle;}
.css_ds_apelido_det_line {height:0px;text-align: left;}
.css_ds_obs_det_label {text-align: left;vertical-align: middle;}
.css_ds_obs_det_line {height:0px;text-align: left;}
.css_qt_andar_det_label {text-align: left;vertical-align: middle;}
.css_qt_andar_det_line {height:0px;text-align: left;}
.css_id_ativo_det_label {text-align: left;vertical-align: middle;}
.css_id_ativo_det_line {height:0px;text-align: left;}
.css_dt_cadastro_det_label {text-align: left;vertical-align: middle;}
.css_dt_cadastro_det_line {height:0px;text-align: left;}
.css_dt_atualiza_det_label {text-align: left;vertical-align: middle;}
.css_dt_atualiza_det_line {height:0px;text-align: left;}
.css_usu_cadastro_det_label {text-align: left;vertical-align: middle;}
.css_usu_cadastro_det_line {height:0px;text-align: left;}
.css_usu_atualiza_det_label {text-align: left;vertical-align: middle;}
.css_usu_atualiza_det_line {height:0px;text-align: left;}
