.css_id_tipo_hospede_label { }
.css_id_tipo_hospede_line {text-align:left;}
.css_id_tipo_hospede_obj {text-align:left;}
.css_ds_tipo_hospede_label { }
.css_ds_tipo_hospede_line { }
.css_ds_tipo_hospede_obj { }
.css_obs_label { }
.css_obs_line { }
.css_obs_obj { }
.css_dt_cadastro_label { }
.css_dt_cadastro_line { }
.css_dt_cadastro_obj { }
.css_usu_cadastro_label { }
.css_usu_cadastro_line { }
.css_usu_cadastro_obj { }
.css_dt_atualiza_label { }
.css_dt_atualiza_line { }
.css_dt_atualiza_obj { }
.css_usu_atualiza_label { }
.css_usu_atualiza_line { }
.css_usu_atualiza_obj { }
.css_id_ativo_label { }
.css_id_ativo_line {text-align:left;}
.css_id_ativo_obj {text-align:left;}
.css_id_merge_label { }
.css_id_merge_line { }
.css_id_merge_obj { }
