.css_id_tipo_hospede_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_tipo_hospede_grid_line {vertical-align: top;text-align: right;}
.css_ds_tipo_hospede_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ds_tipo_hospede_grid_line {vertical-align: top;text-align: right;}
.css_obs_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_obs_grid_line {vertical-align: top;text-align: right;}
.css_dt_cadastro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dt_cadastro_grid_line {vertical-align: top;text-align: center;}
.css_usu_cadastro_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_usu_cadastro_grid_line {vertical-align: top;text-align: right;}
.css_dt_atualiza_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dt_atualiza_grid_line {vertical-align: top;text-align: center;}
