.css_id_tipo_hospede_det_label {text-align: left;vertical-align: middle;}
.css_id_tipo_hospede_det_line {height:0px;text-align: left;}
.css_ds_tipo_hospede_det_label {text-align: left;vertical-align: middle;}
.css_ds_tipo_hospede_det_line {height:0px;text-align: left;}
.css_obs_det_label {text-align: left;vertical-align: middle;}
.css_obs_det_line {height:0px;text-align: left;}
.css_dt_cadastro_det_label {text-align: left;vertical-align: middle;}
.css_dt_cadastro_det_line {height:0px;text-align: left;}
.css_usu_cadastro_det_label {text-align: left;vertical-align: middle;}
.css_usu_cadastro_det_line {height:0px;text-align: left;}
.css_dt_atualiza_det_label {text-align: left;vertical-align: middle;}
.css_dt_atualiza_det_line {height:0px;text-align: left;}
.css_usu_atualiza_det_label {text-align: left;vertical-align: middle;}
.css_usu_atualiza_det_line {height:0px;text-align: left;}
.css_id_ativo_det_label {text-align: left;vertical-align: middle;}
.css_id_ativo_det_line {height:0px;text-align: left;}
.css_id_merge_det_label {text-align: left;vertical-align: middle;}
.css_id_merge_det_line {height:0px;text-align: left;}
