.css_id_unidade_label { }
.css_id_unidade_line {text-align:left;}
.css_id_unidade_obj {text-align:left;}
.css_ds_unidade_label { }
.css_ds_unidade_line { }
.css_ds_unidade_obj { }
.css_ds_unidade_antiga_label { }
.css_ds_unidade_antiga_line { }
.css_ds_unidade_antiga_obj { }
.css_cd_unidade_label { }
.css_cd_unidade_line { }
.css_cd_unidade_obj { }
.css_ds_unidade_compl_label { }
.css_ds_unidade_compl_line { }
.css_ds_unidade_compl_obj { }
.css_id_bloco_label { }
.css_id_bloco_line {text-align:left;}
.css_id_bloco_obj {text-align:left;}
.css_andar_label { }
.css_andar_line {text-align:left;}
.css_andar_obj {text-align:left;}
.css_id_pessoa_fisica_label { }
.css_id_pessoa_fisica_line {text-align:left;}
.css_id_pessoa_fisica_obj {text-align:left;}
.css_id_pessoa_juridica_label { }
.css_id_pessoa_juridica_line {text-align:left;}
.css_id_pessoa_juridica_obj {text-align:left;}
.css_id_tipo_vinculo_label { }
.css_id_tipo_vinculo_line {text-align:left;}
.css_id_tipo_vinculo_obj {text-align:left;}
.css_fracao_label { }
.css_fracao_line {text-align:left;}
.css_fracao_obj {text-align:left;}
.css_obs_label { }
.css_obs_line { }
.css_obs_obj { }
.css_id_ativo_label { }
.css_id_ativo_line {text-align:left;}
.css_id_ativo_obj {text-align:left;}
.css_dt_cadastro_label { }
.css_dt_cadastro_line { }
.css_dt_cadastro_obj { }
.css_dt_atualiza_label { }
.css_dt_atualiza_line { }
.css_dt_atualiza_obj { }
.css_usu_cadastro_label { }
.css_usu_cadastro_line { }
.css_usu_cadastro_obj { }
.css_usu_atualiza_label { }
.css_usu_atualiza_line { }
.css_usu_atualiza_obj { }
