.css_id_unidade_det_label {text-align: right;vertical-align: middle;}
.css_id_unidade_det_line {height:0px;text-align: right;}
.css_ds_unidade_det_label {text-align: right;vertical-align: middle;}
.css_ds_unidade_det_line {height:0px;text-align: right;}
.css_ds_unidade_antiga_det_label {text-align: right;vertical-align: middle;}
.css_ds_unidade_antiga_det_line {height:0px;text-align: right;}
.css_cd_unidade_det_label {text-align: right;vertical-align: middle;}
.css_cd_unidade_det_line {height:0px;text-align: right;}
.css_ds_unidade_compl_det_label {text-align: right;vertical-align: middle;}
.css_ds_unidade_compl_det_line {height:0px;text-align: right;}
.css_id_bloco_det_label {text-align: right;vertical-align: middle;}
.css_id_bloco_det_line {height:0px;text-align: right;}
.css_andar_det_label {text-align: right;vertical-align: middle;}
.css_andar_det_line {height:0px;text-align: right;}
.css_id_pessoa_fisica_det_label {text-align: right;vertical-align: middle;}
.css_id_pessoa_fisica_det_line {height:0px;text-align: right;}
.css_id_pessoa_juridica_det_label {text-align: right;vertical-align: middle;}
.css_id_pessoa_juridica_det_line {height:0px;text-align: right;}
.css_id_tipo_vinculo_det_label {text-align: right;vertical-align: middle;}
.css_id_tipo_vinculo_det_line {height:0px;text-align: right;}
.css_fracao_det_label {text-align: right;vertical-align: middle;}
.css_fracao_det_line {height:0px;text-align: right;}
.css_obs_det_label {text-align: right;vertical-align: middle;}
.css_obs_det_line {height:0px;text-align: right;}
.css_id_ativo_det_label {text-align: right;vertical-align: middle;}
.css_id_ativo_det_line {height:0px;text-align: right;}
.css_dt_cadastro_det_label {text-align: right;vertical-align: middle;}
.css_dt_cadastro_det_line {height:0px;text-align: right;}
.css_dt_atualiza_det_label {text-align: right;vertical-align: middle;}
.css_dt_atualiza_det_line {height:0px;text-align: right;}
.css_usu_cadastro_det_label {text-align: right;vertical-align: middle;}
.css_usu_cadastro_det_line {height:0px;text-align: right;}
.css_usu_atualiza_det_label {text-align: right;vertical-align: middle;}
.css_usu_atualiza_det_line {height:0px;text-align: right;}
