.css_public_pessoa_fisica_id_pessoa_fisica_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_id_pessoa_fisica_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_nome_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_nome_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_id_tipo_vinculo_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_id_tipo_vinculo_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_endereco_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_endereco_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_endereco_comp_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_endereco_comp_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_bairro_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_bairro_det_line {height:0px;text-align: left;}
.css_id_municipio_det_label {text-align: left;vertical-align: middle;}
.css_id_municipio_det_line {height:0px;text-align: left;}
.css_id_uf_det_label {text-align: left;vertical-align: middle;}
.css_id_uf_det_line {height:0px;text-align: left;}
.css_id_pais_det_label {text-align: left;vertical-align: middle;}
.css_id_pais_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_cep_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_cep_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_endereco_cob_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_endereco_cob_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_endereco_comp_cob_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_endereco_comp_cob_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_bairro_cob_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_bairro_cob_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_id_municipio_cob_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_id_municipio_cob_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_id_uf_cob_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_id_uf_cob_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_id_pais_cob_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_id_pais_cob_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_cep_cob_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_cep_cob_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_dt_nasc_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_dt_nasc_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_sexo_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_sexo_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_id_tipo_estado_civil_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_id_tipo_estado_civil_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_id_tipo_escolaridade_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_id_tipo_escolaridade_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_id_tipo_sanguineo_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_id_tipo_sanguineo_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_profissao_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_profissao_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_aposentado_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_aposentado_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_cpf_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_cpf_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_rg_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_rg_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_rg_orgao_emissor_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_rg_orgao_emissor_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_rg_uf_emissor_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_rg_uf_emissor_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_rg_dt_emissao_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_rg_dt_emissao_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_passaporte_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_passaporte_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_passaporte_dt_emissao_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_passaporte_dt_emissao_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_passaporte_pais_origem_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_passaporte_pais_origem_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_nacionalidade_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_nacionalidade_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_naturalidade_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_naturalidade_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_cnh_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_cnh_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_cnh_dt_validade_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_cnh_dt_validade_det_line {height:0px;text-align: left;}
.css_public_pessoa_fisica_cnh_categoria_det_label {text-align: left;vertical-align: middle;}
.css_public_pessoa_fisica_cnh_categoria_det_line {height:0px;text-align: left;}
.css_obs_det_label {text-align: left;vertical-align: middle;}
.css_obs_det_line {height:0px;text-align: left;}
.css_id_ativo_det_label {text-align: left;vertical-align: middle;}
.css_id_ativo_det_line {height:0px;text-align: left;}
.css_dt_cadastro_det_label {text-align: left;vertical-align: middle;}
.css_dt_cadastro_det_line {height:0px;text-align: left;}
.css_dt_atualiza_det_label {text-align: left;vertical-align: middle;}
.css_dt_atualiza_det_line {height:0px;text-align: left;}
.css_usu_cadastro_det_label {text-align: left;vertical-align: middle;}
.css_usu_cadastro_det_line {height:0px;text-align: left;}
.css_usu_atualiza_det_label {text-align: left;vertical-align: middle;}
.css_usu_atualiza_det_line {height:0px;text-align: left;}
