.css_id_pessoa_juridica_label { }
.css_id_pessoa_juridica_line {text-align:left;}
.css_id_pessoa_juridica_obj {text-align:left;}
.css_razao_social_label { }
.css_razao_social_line { }
.css_razao_social_obj { }
.css_fantasia_label { }
.css_fantasia_line { }
.css_fantasia_obj { }
.css_id_tipo_vinculo_label { }
.css_id_tipo_vinculo_line {text-align:left;}
.css_id_tipo_vinculo_obj {text-align:left;}
.css_endereco_label { }
.css_endereco_line { }
.css_endereco_obj { }
.css_cnpj_label { }
.css_cnpj_line { }
.css_cnpj_obj { }
.css_ie_label { }
.css_ie_line { }
.css_ie_obj { }
.css_im_label { }
.css_im_line { }
.css_im_obj { }
.css_ds_contato_responsavel_label { }
.css_ds_contato_responsavel_line { }
.css_ds_contato_responsavel_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_fone_fax_label { }
.css_fone_fax_line { }
.css_fone_fax_obj { }
.css_id_ativo_label { }
.css_id_ativo_line {text-align:left;}
.css_id_ativo_obj {text-align:left;}
.css_dt_cadastro_label { }
.css_dt_cadastro_line { }
.css_dt_cadastro_obj { }
.css_dt_atualiza_label { }
.css_dt_atualiza_line { }
.css_dt_atualiza_obj { }
.css_usu_cadastro_label { }
.css_usu_cadastro_line { }
.css_usu_cadastro_obj { }
.css_usu_atualiza_label { }
.css_usu_atualiza_line { }
.css_usu_atualiza_obj { }
