.css_id_pessoa_juridica_det_label {text-align: right;vertical-align: middle;}
.css_id_pessoa_juridica_det_line {height:0px;text-align: right;}
.css_razao_social_det_label {text-align: right;vertical-align: middle;}
.css_razao_social_det_line {height:0px;text-align: right;}
.css_fantasia_det_label {text-align: right;vertical-align: middle;}
.css_fantasia_det_line {height:0px;text-align: right;}
.css_id_tipo_vinculo_det_label {text-align: right;vertical-align: middle;}
.css_id_tipo_vinculo_det_line {height:0px;text-align: right;}
.css_endereco_det_label {text-align: right;vertical-align: middle;}
.css_endereco_det_line {height:0px;text-align: right;}
.css_cnpj_det_label {text-align: right;vertical-align: middle;}
.css_cnpj_det_line {height:0px;text-align: right;}
.css_ie_det_label {text-align: right;vertical-align: middle;}
.css_ie_det_line {height:0px;text-align: right;}
.css_im_det_label {text-align: right;vertical-align: middle;}
.css_im_det_line {height:0px;text-align: right;}
.css_ds_contato_responsavel_det_label {text-align: right;vertical-align: middle;}
.css_ds_contato_responsavel_det_line {height:0px;text-align: right;}
.css_email_det_label {text-align: right;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: right;}
.css_fone_fax_det_label {text-align: right;vertical-align: middle;}
.css_fone_fax_det_line {height:0px;text-align: right;}
.css_id_ativo_det_label {text-align: right;vertical-align: middle;}
.css_id_ativo_det_line {height:0px;text-align: right;}
.css_dt_cadastro_det_label {text-align: right;vertical-align: middle;}
.css_dt_cadastro_det_line {height:0px;text-align: right;}
.css_dt_atualiza_det_label {text-align: right;vertical-align: middle;}
.css_dt_atualiza_det_line {height:0px;text-align: right;}
.css_usu_cadastro_det_label {text-align: right;vertical-align: middle;}
.css_usu_cadastro_det_line {height:0px;text-align: right;}
.css_usu_atualiza_det_label {text-align: right;vertical-align: middle;}
.css_usu_atualiza_det_line {height:0px;text-align: right;}
