.css_id_pessoa_juridica_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_pessoa_juridica_grid_line {vertical-align: top;text-align: right;}
.css_razao_social_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_razao_social_grid_line {vertical-align: top;text-align: right;}
.css_fantasia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fantasia_grid_line {vertical-align: top;text-align: right;}
.css_id_tipo_vinculo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_tipo_vinculo_grid_line {vertical-align: top;text-align: right;}
.css_endereco_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_endereco_grid_line {vertical-align: top;text-align: right;}
.css_cnpj_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cnpj_grid_line {vertical-align: top;text-align: right;}
.css_ie_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ie_grid_line {vertical-align: top;text-align: right;}
.css_im_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_im_grid_line {vertical-align: top;text-align: right;}
.css_ds_contato_responsavel_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ds_contato_responsavel_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_fone_fax_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fone_fax_grid_line {vertical-align: top;text-align: right;}
.css_id_ativo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_ativo_grid_line {vertical-align: top;text-align: right;}
.css_dt_cadastro_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dt_cadastro_grid_line {vertical-align: top;text-align: center;}
.css_dt_atualiza_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dt_atualiza_grid_line {vertical-align: top;text-align: center;}
.css_usu_cadastro_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_usu_cadastro_grid_line {vertical-align: top;text-align: right;}
.css_usu_atualiza_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_usu_atualiza_grid_line {vertical-align: top;text-align: right;}
